<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edgc.board.mapper.BoardMapper">
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD 
		(
		  USERID, PRD_NM, TYPE, TITLE, CONTENTS
		, REP_YN, REGDT, REGID
		) 
		VALUES 
		(
		  #{userid}, #{prdNm}, #{type}, #{title}, #{contents}
	    , #{repYn}, now(), #{regid}
		)
	</insert>

	<select id="selectBoardList" resultType="Board">
		SELECT *
		  FROM BOARD
		 WHERE 1 = 1
	</select>
</mapper>